.container {
  width: 100%;
}

.header {
  font-size: 40px;
  font-weight: normal;
  border-bottom: 1px solid black;
  margin: 10px;
  padding-top: 2px;
  padding-bottom: -2px;
}

.priceBox {
  border: 1px solid black;
  margin: 0 auto;
  text-align: start;
  font-size: 0.8em;
}

.priceBox h3 {
  text-align: center;
}

.priceBox hr {
  margin-top: -6px;
}

.pricingContainer {
  padding: 10px 20px 10px 20px;
}

@media only screen and (min-width: 499px) {
  .container {
    width: 100%;
  }
  .header {
    font-size: 40px;
    font-weight: normal;
    border-bottom: 1px solid black;
    margin: auto 10px;
    padding: 0px;
  }
  .priceBox {
    border: 1px solid black;
    text-align: start;
  }
  .priceBox h3 {
    text-align: center;
    margin-bottom: 0px;
  }
  .priceBox hr {
    margin-top: -6px;
  }
  .priceBox ul {
    width: 100%;
    letter-spacing: 2px;
  }
  .priceBox ul li {
    padding-bottom: 10px;
  }
  .priceBox ul li:first-of-type {
    padding-top: 0px;
  }
  .priceBox ul li:nth-last-child(1) {
    padding: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .pricingContainer {
    padding: 20px 20px 10px 20px;
  }
}
/* HALF THE SCREEN */

@media only screen and (min-width: 950px) {
  .pricingContainer {
    padding: 26px 20px 5px 20px;
  }
}
