.container {
  width: 100%;
}

.header {
  font-size: 40px;
  font-weight: normal;
  border-bottom: 1px solid black;
  margin: 10px;
}

.priceBox {
  width: 75%;
  border: 1px solid black;
  margin: 0 auto;
  text-align: start;
}

.priceBox h3 {
  text-align: center;
}

.pricingContainer {
  padding: 20px 20px 60px 20px;
}
