.Footer {
  height: 35px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 90;
}

.social {
  width: 10%;
}

.social a {
  padding: 0 4%;
}

.facebook {
  font-size: 24px;
  color: white;
  transition-property: color;
  transition-duration: 0.3s;
}

.email {
  font-size: 24px;
  color: white;
  transition-property: color;
  transition-duration: 0.3s;
}

.facebook:hover {
  color: #3b5998;
}

.email:hover {
  color: #fdc69e;
}
