.Standard {
  color: black;
  outline: none;
  padding: 5px 10px;
  margin-top: 2%;
  font-size: 0.9em;
  font-family: inherit;
  background-color: transparent;
  font-weight: lighter;
  letter-spacing: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

.Standard:hover {
}

.Cancel {
  color: black;
  outline: none;
  padding: 5px 10px;
  margin-top: 2%;
  font-size: 0.9em;
  font-family: inherit;
  background-color: transparent;
  font-weight: lighter;
  letter-spacing: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.Cancel:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(218, 35, 35);
}

.Continue {
  color: black;
  outline: none;
  padding: 5px 10px;
  margin-top: 2%;
  font-size: 0.9em;
  font-family: inherit;
  background-color: transparent;
  font-weight: lighter;
  letter-spacing: 4px;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.Continue:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(10, 184, 74);
}
