.documentsBox {
  width: 100%;
  border-top: none;
  border: 1px solid black;
  border-top: none;
  margin: 0 auto;
}

.headerDocuments {
  font-size: 40px;
  font-weight: normal;
  border-bottom: 1px solid black;
  margin: 10px;
  padding-top: 2px;
  padding-bottom: -2px;
}

.documentsBox ul li {
  padding: 8px;
}

.documentsBox ul li a:link {
  color: black;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.6s;
}

.documentsBox ul li a:hover {
  border-bottom: 1px solid black;
}

.documentsBox ul li a:visited {
  color: rgb(149, 149, 149);
  font-style: italic;
  font-style: none;
}

ul li {
  list-style: none;
}

@media only screen and (min-width: 499px) {
  .container {
    width: 100%;
  }

  .headerDocuments {
    font-size: 40px;
    font-weight: normal;
    border-bottom: 1px solid black;
    margin: 10px;
  }

  .documentsBox {
    width: 75%;
    border: 1px solid black;
    margin: 0 auto;
    text-align: start;
  }

  .documentsBox ul li {
    padding: 8px;
    font-size: 0.8em;
  }

  .documentsBox ul li a:link {
    color: black;
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.6s;
  }

  .documentsBox ul li a:hover {
    border-bottom: 1px solid black;
  }

  .documentsBox ul li a:visited {
    color: rgb(183, 187, 186);
    font-style: italic;
    font-style: none;
  }

  .documentsContainer {
    padding: 30px 20px 0px 20px;
  }

  ul li {
    list-style: none;
  }
}
